<%= form_for @sea do |f| %>
<%= f.label :name %>
<p><%= f.text_field :name %></p>

<%= f.label :temperature %>
<p><%= f.number_field :temperature %></p>

<%= f.label :bio %>
<p><%= f.text_area :bio %></p>

<%= f.label :image_url %>
<p><%= f.text_field :image_url %></p>

<%= f.label :mood %>
<p><%= f.text_field :mood %></p>

<%= f.label :favorite_color %>
<p><%= f.text_field :favorite_color %></p>

<%= f.label :scariest_creature %>
<p><%= f.text_field :scariest_creature %></p>

<%= f.label :has_mermaids %>
<p><%= f.check_box :has_mermaids %></p>

<%=  f.submit %>
<br>
<br>
</figure>
<p><%= button_to "DELETE SEA", sea_path(@sea), method: 'delete' %></p>
<% end %>
